<div ng-include src="'views/admin/adminHeader.html'"></div>
<div ng-include src="'views/admin/controlPanel.html'"></div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
			<div class="list-group">
				 <a href="#" class="list-group-item active">Home</a>
				<div class="list-group-item">
					List header
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">
						List group item heading
					</h4>
					<p class="list-group-item-text">
						...
					</p>
				</div>
				<div class="list-group-item">
					<span class="badge">14</span>Help
				</div> <a class="list-group-item active"><span class="badge">14</span>Help</a>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Panel title
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
		<div class="col-md-8 column">
			<div class="alert alert-info">
		        <a href="#" class="close" data-dismiss="alert">&times;</a>
		        <strong>Note!</strong> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
		    </div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Popular Articles
							</h3>
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Recently Added Articles
							</h3>
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>
				</div>
				<div class="col-md-6 column">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Logged-in Users
							</h3>
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Site Information
							</h3>
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>